workflow/Workflow-n8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1b6HsbXebk9PtWa-ufcDW_lYucNEVtydW",
          "mode": "list",
          "cachedResultName": "Alimentar RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1b6HsbXebk9PtWa-ufcDW_lYucNEVtydW"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e5fdd7e2-d405-459f-83f0-70904efab90c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jSmVN7mjI0DNreya",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "49b007ec-dcdc-474f-8677-44b5488fa8bc",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RsG6oJ3Hf4zR68K2",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "2b33a01e-97ec-40a8-b177-b39fa9e3dcf1",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "tJtM6sbAGqKxdfdv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "b48cab95-e60e-4036-ab69-13ad2afaf053",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        208
      ],
      "id": "eff186c8-3d2f-44fa-99f2-18aa593f9631",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "prCSdFFVeAnyIzGa",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1b6HsbXebk9PtWa-ufcDW_lYucNEVtydW",
          "mode": "list",
          "cachedResultName": "Alimentar RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1b6HsbXebk9PtWa-ufcDW_lYucNEVtydW"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        368
      ],
      "id": "d006b38b-89a1-43c5-9f2c-cf2d02e1be44",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jSmVN7mjI0DNreya",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger1').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        432,
        368
      ],
      "id": "a2833518-a0a9-4c9a-b331-4437ae83abb3",
      "name": "Download file1",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RsG6oJ3Hf4zR68K2",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=eq.{{ $json.id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        368
      ],
      "id": "b76365fa-ab97-4897-bcf1-d3eddfa3a571",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "tJtM6sbAGqKxdfdv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        672,
        368
      ],
      "id": "65a6ba45-0d23-4bff-98a2-e7dbee5b6010",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "tJtM6sbAGqKxdfdv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "="
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        832,
        592
      ],
      "id": "e58b0d45-7925-4baa-b5e2-dab034802f47",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        592
      ],
      "id": "fb55c9dc-3551-4c9c-b095-183882061b61",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "prCSdFFVeAnyIzGa",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        736
      ],
      "id": "fc7a6474-1fb3-4e72-88ba-2e5e3a4e0f76",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1b6HsbXebk9PtWa-ufcDW_lYucNEVtydW",
            "mode": "list",
            "cachedResultName": "Alimentar RAG",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1b6HsbXebk9PtWa-ufcDW_lYucNEVtydW"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        736
      ],
      "id": "e4812a25-b951-4178-9b92-9444915e0560",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RsG6oJ3Hf4zR68K2",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        656,
        736
      ],
      "id": "2ca504f5-d7c4-489e-87c0-7c8d2dac3779",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "={{ $('Search files and folders').item.json.id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        864,
        736
      ],
      "id": "bcb4ed1a-3aa1-4691-ba9e-d10a2a2114ac",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "tJtM6sbAGqKxdfdv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1072,
        736
      ],
      "id": "d8d4d61f-1ab0-407c-9aa0-f4e404c3fdcf",
      "name": "Delete a row1",
      "credentials": {
        "supabaseApi": {
          "id": "tJtM6sbAGqKxdfdv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a AI agent designed to answer user questions only using the information retrivied from the Supabase vector store. Do not use the commom sense."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        432,
        -336
      ],
      "id": "bc5d25cc-e825-44f6-a8c4-0f73b0498d3e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        160,
        -336
      ],
      "id": "379ba422-5cf7-4166-9f09-25c366038519",
      "name": "When chat message received",
      "webhookId": "91110a41-cb0c-4032-9034-c95e75d94e97"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        336,
        -176
      ],
      "id": "2fd16851-b997-4297-ba6d-ae6ba9eace21",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SeoXn7CM7ORfqO5y",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with your data ",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        720,
        -272
      ],
      "id": "4eb8e2e2-b9b9-4e45-9120-84055230f8f7",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "tJtM6sbAGqKxdfdv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        752,
        -128
      ],
      "id": "dafdd6bb-f253-44d0-bdd4-c9ce2b8f76ff",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "prCSdFFVeAnyIzGa",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Delete a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row1": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8a6878e3-5f27-4a16-a086-14ada90ca6de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3b4e8c9627024401baa96cf4c0e86de10af4ee2d0eb3c2c246e17cb6bb240fcc"
  },
  "id": "aknVSFQydmVe90Uq",
  "tags": []
}